@import "/src/styles/mixins.scss";

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include overlay-style;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lu-modal {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--block-color-highlight);
    border-radius: 5px;
    background: var(--block-bg);
    margin: 20px;

    
    @include max-screen-width(tablet) {
        width: 90%;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        border-bottom: 3px solid var(--block-color-highlight);
        color: var(--block-color-highlight);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        position: relative;
        height: 40px;

        &__close {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            font-size: 20px;
        }
    }

    &__body {
        padding: 10px;
    }
}
