@import "/src/styles/mixins.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include overlay-style;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {
    // TODO mobile style

    display: flex;
    flex-direction: column;
    border: 3px solid var(--block-color-highlight);
    border-radius: 5px;
    background: var(--block-bg);

    &__header {
        width: 100%;
        border-bottom: 3px solid var(--block-color-highlight);
        color: var(--block-color-highlight);
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    &__body {
        padding: 10px;
    }

    &__footer {
        width: 100%;
        border-top: 3px solid var(--block-color-highlight);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__button {
            margin: 5px 10px;
            background: var(--block-bg);
            color: var(--block-color-primary);
            height: var(--filters-item-hegith);
            padding: 0 10px 0 10px;
            border: 1px solid var(--button-bg-highlight);
            border-radius: 5px;
            cursor: pointer;
            height: 30px;

            &--default {
                background: var(--button-bg-highlight);
                color: var(--block-bg);
            }
        }
    }
}
