<div class="container" *ngIf="isShown">
    <div class="modal">
        <div class="modal__header" *ngIf="title">
            {{title}}
        </div>
        <div class="modal__body">
            <!-- Transclusion -->
            <ng-content></ng-content>
        </div>
        <div class="modal__footer">
            <button class="modal__footer__button" (click)="close()">Close</button>
            <button class="modal__footer__button modal__footer__button--default" (click)="emitPrimaryAction()" *ngIf="primaryButtonText">{{primaryButtonText}}</button>
        </div>
    </div>
</div>

