@import "/src/styles/mixins.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--navigation-bg);
    height: 50px;

    @include max-screen-width(tablet) {
        justify-content: flex-end;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;

        @include hide-bellow-width(tablet);

        img {
            // I'll hack the color a bit, pressed for time
            filter: invert(100%);
        }
    }

    &__control {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        // TODO this was copy pasted from nav component; encapsulate the buttons?
        &__button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background: none;
            border: none;
            width: 50px;
            padding: 10px;
            color: var(--navigation-color);

            &__icon {
                height: 20px;
            }

            &:hover {
                background: var(--navigation-highlight-bg);
                cursor: pointer;
            }
        }

        &__user__image {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            width: 50px;
            height: 100%;
        }
    }
}
