<header class="header">
    <div class="header__logo">
        <img src="assets/images/lu-logo.svg" alt="LearnUpon Logo Image">
    </div>
    <div class="header__control">
        <!-- Some mock controls -->
        <button class="header__control__button" type="button" aria-label="Search the site">
            <img class="header__control__button__icon" src="assets/icons/search.svg" alt="" aria-hidden="true" />
        </button>
        <button class="header__control__button" type="button" aria-label="Open messages">
            <img class="header__control__button__icon" src="assets/icons/mail.svg" alt="" aria-hidden="true" />
        </button>
        <button class="header__control__button" type="button" aria-label="Your settings">
            <img class="header__control__button__icon" src="assets/icons/settings.svg" alt="" aria-hidden="true" />
        </button>
        <div aria-hidden="true" class="header__control__user__image">
            <img src="assets/images/user.png">
        </div>
    </div>
</header>