:root {
    --navigation-color: #FFFFFF;
    --navigation-bg: #333333;
    --navigation-highlight-bg: #585858;

    --main-bg: #097bb8;    
    --main-color: #FFFFFF;

    --block-bg: #FFFFFF;
    --block-heading: #097bb8;
    --block-color: #757575;
}