<div class="info">
    <div class="info__title">
        Some information
    </div>
    <div class="info__row">
        A11Y was tested via Win10 narator. I've learned a lot doing it, I had no idea :)
    </div>
    <div class="info__row">
        Everything is custom. Bootstrap is only installed to prettify Formly (as I had no time to write custom components for it)
    </div>
    <div class="info__row">
        Responsivenes was tested via Chrome debugger
    </div>
    <div class="info__row">
        NgRx was not used to save time, sorry
    </div>
</div>