.layout {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;

    &__side {
        min-height: 100%;
    }

    &__main {
        min-height: 100%;
        flex-grow: 1;
    }
}