@import "/src/styles/mixins.scss";

.table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    --filters-item-hegith: 30px;

    &__filters {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: 60px;
        background: var(--block-bg);

        &__left {
            display: flex;
            flex-direction: row;
            align-items: center;

            * {
                margin-left: 10px;
            }

            &__count {
                font-size: 18px;
                font-weight: bold;

                @include hide-bellow-width(mobile);
            }

            &__search {
                // TODO add icon to search input
                height: var(--filters-item-hegith);
                border: 1px solid var(--block-color-secondary);
                border-radius: 5px;
                text-indent: 10px;

                @include hide-bellow-width(mobile);
            }

            &__add-filter {
                background: none;
                border: none;
                color: var(--block-color-highlight);
                font-size: 14px;
                font-weight: bold;
                height: var(--filters-item-hegith);

                // @include hide-bellow-width(mobile);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__right {
            display: flex;
            flex-direction: row;
            align-items: center;

            & > * {
                margin: 0 10px;
            }
        }
    }

    &__data {
        overflow-y: scroll;
        max-height: 80vh;
        padding: 20px;
    }
}
