<div class="table">
    <div class="table__filters">
        <div class="table__filters__left">
            <span class="table__filters__left__count" aria-label="Total number of users for search criteria">
                # Users
            </span>
            <input class="table__filters__left__search" type="search" placeholder="Search users" aria-label="Search users">
            <button class="table__filters__left__add-filter" type="menu" aria-label="Add a new filter">
                <span aria-hidden="true">+ Add Filter</span>
            </button>
        </div>
        <div class="table__filters__right">
            <button class="table__filters__right__create" type="button" aria-label="Create a new user">
                <span aria-hidden="true">+ Create</span>
            </button>
        </div>
    </div>

    <div class="table__data">
        TODO Table rows here
    </div>

</div>