<!-- TODO this html/css should be refactored for beter naming and semantics-->
<div class="table">
    <div class="table__filters" tabindex="0" aria-label="Users table filtering options">
        <div class="table__filters__left">
            <span class="table__filters__left__count" aria-label="Total number of users for search criteria">
                {{usersCount}} Users
            </span>
            <input class="table__filters__left__search" type="search" placeholder="Search users"
                aria-label="Search users">
            <button class="table__filters__left__add-filter" type="menu" aria-label="Add a new filter">
                <span aria-hidden="true">+ Add Filter</span>
            </button>
        </div>
        <div class="table__filters__right">
            <button class="lu-btn lu-btn--default" type="button" aria-label="Create a new user" (click)="openCreateUserModal()">
                <span aria-hidden="true">+ Create</span>
            </button>
        </div>
    </div>

    <div class="table__data" tabindex="0" aria-label="Users table">
        <lu-user-row *ngFor="let user of users" [user]="user"></lu-user-row>
    </div>

</div>

<!-- Create user modal -->
<lu-modal [(isShown)]="showCreateUserModal" [title]="'Create a user'">
    <lu-create-user (userCreated)="userCreated($event)"></lu-create-user>
</lu-modal>