<aside class="navigation" aria-label="Main navigation" [ngClass]="{'navigation--expanded': expanded}">

    <!-- Open/close menu -->
    <button class="navigation__button" type="button" aria-label="Expand navigation menu" (click)="toggleExpand()">
        <img class="navigation__button__img" src="assets/icons/burger.svg" alt="" aria-hidden="true" />
    </button>

    <!-- Navigation items -->
    <button class="navigation__button" type="button" aria-label="Navigate to home page" (click)="navigateTo('home')">
        <img class="navigation__button__img" src="assets/icons/home.svg" alt="" aria-hidden="true" />
        <span class="navigation__button__text" aria-hidden="true" [ngClass]="{'navigation__button__text--hidden' : !expanded}">Home</span>
    </button>

    <button class="navigation__button" type="button" aria-label="Navigate to users page" (click)="navigateTo('users')">
        <img class="navigation__button__img" src="assets/icons/users.svg" alt="" aria-hidden="true" />
        <span class="navigation__button__text" aria-hidden="true" [ngClass]="{'navigation__button__text--hidden' : !expanded}">Users</span>
    </button>

</aside>