// menu styles
.navigation {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background: var(--navigation-bg);
    height: 100%;
    width: 40px;

    &--expanded {
        width: 180px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        padding: 10px;
        color: var(--navigation-color);

        &:hover {
            background: var(--navigation-highlight-bg);
            cursor: pointer;
        }

        &__img {
            width: 20px;
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            margin-left: 10px;
        }
    }
}
