
<!-- Just random content to fill the space out and flex a bit on smaller screens -->
<div class="home">
    <div class="home__item">
        <div class="home__item__title">
            <h2>Angular</h2>
        </div>
        <div class="home__item__img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular Logo Image">
        </div>
        <div class="home__item__info">
            Learn angular in just 7 days, with this amazing, bleading edge course!
        </div>
        <div class="home__item__link">
            <a href="#">Learn Angular</a>
        </div>
    </div>
</div>