<h1>Our courses - Quick access</h1>
<!-- Just random content to fill the space out and flex a bit on smaller screens -->
<div class="home">
    <!-- TODO These items could be extracted into components (?) -->
    <!-- Angular -->
    <section class="home__item" aria-label="Angular">
        <div class="home__item__title">
            <h2>Angular</h2>
        </div>
        <div class="home__item__img">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular Logo">
        </div>
        <div class="home__item__info">
            Learn Angular in just 7 days, with this amazing, bleading edge course!
        </div>
        <div class="home__item__link">
            <a href="#">Learn Angular</a>
        </div>
    </section>
    <!-- React -->
    <section class="home__item" aria-label="React">
        <div class="home__item__title">
            <h2>React</h2>
        </div>
        <div class="home__item__img">
            <img src="https://i.ibb.co/Ssw347b/react.png" alt="React Logo">
        </div>
        <div class="home__item__info">
            Learn React super fast, JSX is a joke! Enlist to this 10 day course and find out.
        </div>
        <div class="home__item__link">
            <a href="#">Learn React</a>
        </div>
    </section>
    <!-- Vue -->
    <section class="home__item" aria-label="VueJs">
        <div class="home__item__title">
            <h2>VueJS</h2>
        </div>
        <div class="home__item__img">
            <img src="https://vuejs.org/images/logo.png" alt="VueJs Logo">
        </div>
        <div class="home__item__info">
            Pick up VueJs quickly. Besides, its just a mix of Angular and React.
        </div>
        <div class="home__item__link">
            <a href="#">Learn VueJs</a>
        </div>
    </section>

</div>